<!-- <p>header works!</p> -->
<header>
    <nav id="navegacion"  class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input class="btn btn-primary me-md-2"  type="button" name="" id="" value="Iniciar sesion" (click)="initSession()"class="btn btn-primary">
        <input class="btn btn-primary" type="button" name="" id="" value="Registrarse" (click)="register()" class="btn btn-primary" >
    </nav>
</header>
<hr>

<!-- 
<div
  <buttontype="button">Button</buttontype=>
  <button type="button">Button</button>
</div>


 -->